@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.container {  display: grid;
    grid-template-columns: 4fr 0fr 0fr;
    grid-template-rows: 0.2fr 2.5fr 0.1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "bod . ."
      "footer footer footer";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: transparent;
  }
  
  .header { 
    grid-area: header; 
    background-color: rgb(240, 238, 238);
    position: relative;
    font-family: 'Short Stack';

    .button-logout{
      position: absolute;
      top: 42%;
      left: 92%;
      background-color: transparent;
      padding: 8px;
      font-family: 'Short Stack';
      font-size: 26px;
      border: none;

      &:hover {
          color:  rgb(237, 169, 67);
          border: none;
      }
      &:focus{
          outline:none;
          border: none;
      }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 88%;

        .button-login{
          background-color: transparent;
          padding: 8px;
          font-family: 'Short Stack';
          font-size: 26px;
          border: none;

          &:hover {
              color:  rgb(237, 169, 67);
              border: none;
          }
          &:focus{
              outline:none;
              border: none;
          }
        }

        .button-register{
          background-color: transparent;
          padding: 8px;
          font-family: 'Short Stack';
          font-size: 26px;
          border: none;

          &:hover {
              color: rgb(237, 169, 67);
              border: none;
          }
          &:focus{
              outline:none;
              border: none;
          }
        }
    }

    .title{
        position: absolute;
        top: -44%;
        left: 2%;
        font-family: 'Short Stack';
        font-size: 60px;;
    }
}

.bod{
    grid-area: bod;
    background-image: url(../img/monkeys.jpg);
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1{
        font-family: 'Short Stack';
        font-size: 50px;
        color: white;
        border-radius: 10px;
        position: absolute;
        top: 49%;
        left: 16%;
    }


}

.test{
  grid-area: bod;
  // background-image: url(../img/monkeys.jpg);
  background-color: rgb(188, 186, 186);
  // background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Short Stack';


  .wrapper{
    position: absolute;
    top: 30%;
    left: 8%;

    p{
      font-size: 50px;
      color: white;
    }
    h2{
      font-size: 50px;
      color: white;
    }
  }

}

.Register { 
    position: relative;
    grid-area: bod; 
    background-image: url(../img/monkeys.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    .formWrapper {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color:rgb(87, 58, 2);
        background-color:transparent;
        border: solid 3px rgb(152, 152, 152);
        border-radius: 10px;
        height: 100px;
        width: 1780px;
  
        form {
            display: flex;
            flex-direction: row;
            gap: 30px;
            position: absolute;
            top: 15%;
            left: 2%;
  
            input {
                padding: 20px;
                border: none;
                border-radius: 10px;
                width: 250px;
                border-bottom: 4px solid rgb(237, 169, 67);
                background-color: white;
                font-size: 25px;
      
                &::placeholder {
                  color: black;
                  font-size: 22px;
                  font-family: 'Short Stack';
                }
              }
  
            button {
                background-color: rgb(237, 169, 67);
                color: white;
                padding: 10px;
                font-family: 'Short Stack';
                font-weight: bold;
                font-size: 25px;
                border: none;
                cursor: pointer;
              }

              p{
                position: absolute;
                top: 100%;
                left: 0%;
                font-family: 'Short Stack';
                font-size: 22px;
                color: white;
                // background-color: black;
                border-radius: 10px;
                padding: 5px;
              }
        }
    
    }
}

.login { 
    position: relative;
    grid-area: bod; 
    background-image: url(../img/monkeys.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    .formWrapper {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color:rgb(87, 58, 2);
        background-color:transparent;
        border: solid 3px rgb(152, 152, 152);
        border-radius: 10px;
        height: 100px;
        width: 780px;
    
        form {
            display: flex;
            flex-direction: row;
            gap: 30px;
            position: absolute;
            top: 15%;
            left: 2%;
    
          input {
            padding: 20px;
            border: none;
            border-radius: 10px;
            width: 250px;
            border-bottom: 4px solid rgb(237, 169, 67);
            background-color: white;
            font-size: 25px;
  
            &::placeholder {
              color: black;
              font-size: 22px;
              font-family: 'Short Stack';
  
            }
          }
    
          button {
            background-color: rgb(237, 169, 67);
            color: white;
            padding: 10px;
            font-family: 'Short Stack';
            font-weight: bold;
            font-size: 25px;
            border: none;
            cursor: pointer;
          }
        }
        
        p{
            position: absolute;
            top: 100%;
            left: 0%;
            font-family: 'Short Stack';
            font-size: 22px;
            color: white;
            // background-color: black;
            border-radius: 10px;
            padding: 5px;
          }
      }
}
  
.footer { 
    grid-area: footer; 
    background-color: rgb(240, 238, 238);
}
  